
<% @body_id = 'home-page' %>

<!--https://bootsnipp.com/snippets/zDQkr-->
<% slide_locations = Spree::SlideLocation.all %>

 <% slide_locations.each do |location| %>
  <% taxon = Spree::Taxon.where(:name=> location.name) %>
  <% if taxon.present? %>

<!--Item slider text-->
<div class="container">
  <div class="row" id="slider-text">
    <div class="col-md-6" >
      <h2><%= link_to "#{taxon.last.name}", seo_url(taxon.last) %></h2>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel multi-item-carousel slide" id="myCarousel" data-ride="carousel">
        <div class="carousel-inner">

 <% location.slides.published.order('position ASC').each_with_index do |slide,index| %>
          <div class="item <%= index==0 ? 'active' : ''%>">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><%= link_to image_tag(main_app.url_for(slide.slide_image_small), alt: slide.slide_name), url_for(slide.slide_link) rescue nil %></a>
              <span class="badge">20%</span>
              <h4 class="text-center"><%= truncate(slide.slide_name.html_safe, length:25) %>
              </h4>
              <h5 class="text-center">Rs. 500</h5>
            </div>
          </div>
<% end %>
         

        </div>

        <div id="slider-control">
          <%#= link_to image_tag('arrow_left.png'), "#myCarousel", :class=>"left carousel-control","data-slide"=>"prev" %>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<!-- </body>
</html> -->





  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.j"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

$("#myCarousel").swipe({

  swipe: function(event, direction, distance, duration, fingerCount, fingerData) {

    if (direction == 'left') $(this).carousel('next');
    if (direction == 'right') $(this).carousel('prev');

  },
  allowPageScroll:"vertical"

});

// $('#myCarousel').carousel({ interval: 3000 });

$('.multi-item-carousel .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.addClass("cloneditem-"+(i))
.appendTo($(this));

}
});
});

</script>

<div data-hook="homepage_products"  >
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>

