<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>


<% if products.any? %>
  <div id="products" class="row" data-hook>
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <div id="product_<%= product.id %>" class="col-md-4 col-sm-6 col-xs-12 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
        <div class="panel panel-default product-col">
          <%# cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
          <%#= link_to '', url, class: 'link-overlay' %>
          <div class="panel-body text-center product-body">
            <%= link_to url, itemprop: "url" do %>
              <%= product_image(product, itemprop: "image", :class => "img-responsive home-pd-img") %><br/>
              <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
            <% end %>
            <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                <span class="price selling lead h-price" itemprop="price"><%= display_price(product) %></span>
              </span>
          </div>
          <%# end %>
          <div class="hover-content">
            <div class="hover-content_inner">
              <div class="hover-content_inner1">


                <span class="hover-icon">
<!--                  <a href="/cart"><i class="fa fa-shopping-cart fa-fw"></i></a>-->
                  <% if spree_user_signed_in? && spree_current_user.has_favorite_product?(product.id) %>
<%= link_to "<i class='heart heart_#{product.id} fa fa-heart fa-fw' style='color:red'></i>".html_safe, favorite_product_path(id: product.id, type: 'Spree::Product'), method: :delete, remote: true, class: 'favorite_link', id: 'unmark-as-favorite' %>
<%#= link_to Spree.t(:unmark_as_favorite), favorite_product_path(id: @product.id, type: 'Spree::Product'), method: :delete, remote: true, class: 'favorite_link btn btn-primary pull-right', id: 'unmark-as-favorite' %>
    <% else %>
<%= link_to "<i class='heart_before heart_before_#{product.id} fa fa-heart-o fa-fw' style='color:red'></i>".html_safe, favorite_products_path(id: product.id, type: 'Spree::Product'), method: :post, remote: spree_user_signed_in?, class: 'favorite_link', id: 'mark-as-favorite' %>
<%#= link_to Spree.t(:mark_as_favorite), favorite_products_path(id: @product.id, type: 'Spree::Product'), method: :post, remote: spree_user_signed_in?, class: 'favorite_link btn btn-primary pull-right', id: 'mark-as-favorite' %>
    <% end %>
                </span>
                <span class="hover-icon">
                  <%= link_to url, itemprop: "url" do %>
                    <i class="fa fa-eye fa-fw"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if products.respond_to?(:total_pages) %>
  <%= paginate products, theme: 'twitter-bootstrap-3' %>
<% end %>
